.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.login{
    width:350px;
}

.right{
    align-self: flex-end;
    margin-right: 10px;
}

.flex-blox{
    display: flex;
    flex-direction: column;
}